<h1>Shops</h1>
<br>

<div class="container">
  <div class="row">
    <% @shops.each do |shop| %>
    <a href="/shops/<%= shop.id %>">
        <div class="card" style="width: 18.8rem; margin: 10px;">
            <%= image_tag(shop.thumbnail()) %>
            <div class="card-body">
              <h5 class="card-title"><%= shop.shop %></h5>
            </div>
        </div>
    </a>
    <% end %>
  </div>
</div>
<br/><br/>

