<br><br>
<center>
    <i class="fas fa-shopping-bag fa-10x" style="color: #ffff66;"></i>
    <br><br><br><br>
    <h4>There is no orders yet.</h4>
    <br>
    <%= link_to "Shop Now", root_path, class:"btn btn-primary" %>
</center>