<br><br>
<center>
    <i class="fas fa-cart-arrow-down fa-10x" style="color: #ffff66;"></i>
    <br><br>
    <h1>Your cart is empty!</h1>
    <br>
    <h4>Add items to it now</h4>
    <br>
    <%= link_to "Shop Now", root_path, class:"btn btn-primary" %>
</center>